extends layout.jade
block content

  nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='') Visualisierung von Trackingdaten
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href='') Karte
          li
            a(href='') Weitere Informationen
  .container-fluid
    .row
      .col-md-4
        p  
        .well
          legend Bitte wählen Sie einen Zeitraum aus:
          input#inputDefault.form-control(type='text', name='daterange', value='01.04.2017 13:00 - 15.05.2017 16:00')
          script(type='text/javascript').
            $(function() {
            $('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            //timePickerIncrement: 30,
            alwaysShowCalendars: true,
            locale: {
            format: 'DD.MM.YYYY HH:mm',
            monthNames: [
            "Januar",
            "Februar",
            "März",
            "April",
            "Mai",
            "Juni",
            "Juli",
            "August",
            "September",
            "Oktober",
            "November",
            "Dezember"
            ],
            daysOfWeek: [
            "So",
            "Mo",
            "Di",
            "Mi",
            "Do",
            "Fr",
            "Sa"
            ],
            applyLabel: 'Anwenden',
            cancelLabel: 'Abbrechen',
            }
            });
            });
          br
          br
          br
          form#form1

            legend
            | Wochentag: 
            span#spanOutputDays

          p
          #sliderDays
          p
          form#form1


            | Stunde: 
            span#spanOutputHours
          p 
          #sliderHours
          br
          br
          legend Suche:
          p
            input#search_address.form-control(placeholder='Geben Sie eine Rahmennummer ein.', type='text')
          a#search.btn.btn-primary(href='#')
            i.glyphicon.glyphicon-search
            |               Suche
          a#reset.btn.btn-default(href='#')
            i.glyphicon.glyphicon-repeat
            |               Zurücksetzen
        // #result_box.alert.alert-info
        // strong#result_count
        .well
          legend Map Legend
          #leg
          br
          br
          br
          br
          br
          br
      .col-md-8
        noscript
          .alert.alert-info
            h4 Your JavaScript is disabled
            p Please enable JavaScript to view the map.
        #map
        script(type='text/javascript', src='/javascripts/topic.js')
        p.pull-right © 2017 Martin Scholz
  script(type='text/javascript').
    $(window).resize(function () {
    var h = $(window).height(),
    offsetTop = 105; // Calculate the top offset
    $('#map').css('height', (h - offsetTop));
    }).resize();
    setTimeout(function () {
    map.invalidateSize();
    }, 0);
