extends layout.jade
block content

  nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        .navbar-brand Visualisierung von Trackingdaten gestohlener Fahrräder
      .navbar-collapse.collapse
  .container-fluid
    .row
      .col-md-4      
        .well
          legend Bitte wählen Sie einen Zeitraum aus:      
          form(role='form')
              .form-group.has-feedback.has-feedback-left    
                  input#readonly.form-control(type='text' name='daterange'  readonly="readonly" ) 
                  |     
                  i.form-control-feedback.glyphicon-calendar.glyphicon    
      
          br
          br          
          form#form1
            legend
            | Wochentag: 
            span#spanOutputDays
          p
          #sliderDays(title="Sie können einen Wochenabschnitt von 1 bis 7 Tage wählen" )
          p
          form#form1
            | Stunde: 
            span#spanOutputHours
          p 
          #sliderHours(title="Sie können einen Tagesabschnitt von 1 bis 24 Stunden wählen" )
          br
          br
          legend Geben Sie bitte eine Fahrrad-Id ein:
          p
            input#bikeId.form-control(type='String', name='bikeId', placeholder='93fed1b3-b28f-4ed8-a4c4-4fe450873f85', value='', title="Ihre Eingabe muss folgendes Format haben:" + "\n93fed1b3-b28f-4ed8-a4c4-4fe450873f85" )
          a#bikeIdBtn.btn.btn-primary.btn-sm
            i.glyphicon.glyphicon-search
            |               Suche Route    
          br
          br
          legend Geben Sie bitte einen Schwellenwert ein:
          p
            input#threshold.form-control( type = "Number" , min = "1", name='threshold', placeholder='', value='', title="Wenn die Zahl der Diebstähle, die in den letzten 7 Tagen stattgefunden hat, diesen Schwellenwert übersteigt, wird ein Warnhinweis durch eine Alertbox gegeben. \nUm den Schwellenwert zu ändern müssen eine Zahl eingeben!")
          a#thresholdBtn.btn.btn-primary.btn-sm
            i.glyphicon.glyphicon-refresh
            |               Aktualisieren
          span#tooltip(title = "Wenn die Zahl der Diebstähle, die in den letzten 7 Tagen stattgefunden hat, diesen Schwellenwert übersteigt, wird ein Warnhinweis durch eine Alertbox gegeben.") aktueller Schwellenwert:  
          span#spanOutputThreshold Schwellenwert
      .col-md-8
        noscript
          .alert.alert-info
            h4 Your JavaScript is disabled
            p Please enable JavaScript to view the map.
        #map
        script(type='text/javascript', src='index.js')
        p.pull-right © 2017 Martin Scholz
  script(type='text/javascript').
    $(window).resize(function () {
    var h = $(window).height(),
    offsetTop = 105; // Calculate the top offset
    $('#map').css('height', (h - offsetTop));
    }).resize();
    setTimeout(function () {
    map.invalidateSize();
    }, 0);
