//views/layout.pug
doctype html
html
head
    title= title
    //link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.2.0/dist/leaflet.css')

    
    //link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    //link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.5.min.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-slider.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/MarkerCluster.css')
    link(rel='stylesheet', href='/stylesheets/MarkerCluster.Default.css')
    //link(rel="stylesheet", href="L.Control.Range.css")
    script(src='./javascripts/libs/leaflet.js')
    //script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    //script(src='https://unpkg.com/leaflet@1.2.0/dist/leaflet.js')
    
    
    script(src='//maps.google.com/maps/api/js?key=AIzaSyAybjuKV6mDZIU73VUPeG6aejSoV6tSaQY&sensor=false')
    script (src='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')

    script(src='./javascripts/libs/Google.js')
    
    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    //script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='./javascripts/libs/jquery.min.js')
    script(src='./javascripts/libs/jquery-ui.min.js')
    script( src="https://code.jquery.com/jquery-1.11.3.min.js")
    script( src="./javascripts/libs/jquery-ui.js")
    script( src="/javascripts/hours.js")
    script( src="/javascripts/single.js")
    script( src="/javascripts/ends.js")
    
    
    //script(src='/javascripts/jquery-1.11.3.min.js')
    //script(src='/javascripts/jquery.mobile-1.4.5.min.js')
    
    //script(src='/javascripts/SliderControl.js')
    //script(src='/javascripts/leaflet-src.js')
    
    script(src='./javascripts/libs/leaflet-slider.js')
    script(src='./javascripts/libs/leaflet.markercluster-src.js')
    script(src='./javascripts/libs/L.Control.Button.js')
    //script(src='https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/dist/leaflet-heat.js')
    script(src='./javascripts/libs/leaflet-heatMod.js')
    script(src='./javascripts/libs//berlin_bezirke.js')
    style.
      form {zIndex: 650}
      
    body
        block content
        
        script(type='text/javascript').
          
            
            
