extends layout.jade
block content
  div(style='width: 20%; height: 10%;')
      form#form1
        | Stunde: 
        span#spanOutput
      |    
      br
      |    
      #slider
      |    
      br
  #map
  #leg_title
       span#leg_items Map Legend
  #leg
           script(type='text/javascript', src='/javascripts/topic.js').
  
           
