.navbar {
  background-color: black


}


.navbar-header {
    float: middle;
    /*text-align: center;*/
}

.navbar-brand {
  padding-bottom: 0px;
  vertical-align: middle;
  font-size: 17px;
}


/*.well{
  height:560px;
}*/

.well legend {
  font-size: 15px;
  border-bottom: 2px solid #006600;
}

.form-control {
  height: 35px;
}

#dateRangeForm .form-control-feedback {
  top: 0;
  right: -15px;
}

#thresholdBtn.btn.btn-primary.btn-sm {
  margin-right:12px;
}
#readonly.form-control
{
    background-color:white;
}
