.navbar {
  background-color: black;
}
nav.navbar.navbar-default .container-fluid .navbar-header .navbar-brand{
  color:#bfbfbf;
}
.navbar-default.navbar-header.navbar-brand {
  padding-bottom: 0px;
  font-size: 17px;
}



.well legend {
  font-size: 15px;
  border-bottom: 2px solid #006600;
}

.form-control {
  height: 35px;
}

#dateRangeForm .form-control-feedback {
  top: 0;
  right: -15px;
}

#thresholdBtn.btn.btn-primary.btn-sm {
  margin-right:12px;
}
#readonly.form-control
{
    background-color:white;
}
