
.navbar {
  max-height: 50px;


}

.navbar-header {
    float: left;
    text-align: center;
    /*width: 100%;*/
}
.navbar-brand {
  padding-bottom: 0px;
  vertical-align:middle;
   font-size: 25px;
}

.well{
  height:560px;
}
.well legend{
  font-size: 15px;
  border-bottom:2px solid #006600;
}
.form-control{
  width:305px;
  height:35px;
}
/*#name.form-control{
  width:50px;
}*/

/*.form.horizontal{
float:left;
}*/
.form-group{
float:left;
}
/*#btnBikeId{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

}*/
/*legend {
  border-bottom: red;
}*/
#submit.btn.btn-primary, #bikeId.btn.btn-primary{

  padding-left:5px;
  padding-bottom:10px;
  padding-top:5px;
  font-size: 15px;
    width:60px;
    height:35px;

}
