.leaflet-range-control {
    background-color: #fff;
}

.leaflet-range-control.vertical {
    width: 26px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.leaflet-range-control.horizontal {
    height: 26px;
    padding-right: 5px;
}

.leaflet-range-control .leaflet-range-icon {
    display: inline-block;
    float: left;
    width: 26px;
    height: 26px;
    
}

.leaflet-range-control input[type=range] {
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 0px;
}

.leaflet-range-control input[type=range][orient=horizontal] {
    margin-top: 5px;
    width: 250px;
}

.leaflet-range-control input[type=range][orient=vertical] {
    height: 150px;

    /*
     * -webkit-appearance is non-standard and may break in the future:
     * https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance
     * However, for now it's the only way to get a vertical range input on Chrome.
     */
    -webkit-appearance: slider-vertical;
}

/* Hack to target IE 10 & 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .leaflet-range-control.vertical {
        padding-bottom: 15px;
    }

    .leaflet-range-control input[type=range][orient=vertical] {
        writing-mode: bt-lr;
        width: 45px;
        margin-left: -11px;
    }
}
