html, body {
  height: 100%;
  overflow: auto;
}

#map img {
  max-width: none;
}

/* customizations for iframe template */
.iframe #map_canvas { height: 500px; }
.iframe .well { margin-bottom: 5px; }
.iframe .alert { margin-top: 5px; }

}
body {
  margin:0;
  padding:0px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#00B7FF;
}

#leg, #leg_title,{
  position:absolute;
  top:110px;
  right:10px;
  width:110px;
  padding:10px;
  background:rgb(255,255,255);
  color:#999;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:18px;
  border-radius:3px;
  max-height:80%;
  overflow:auto;
}
#leg_title {
  top:70px;
}
#leg_items {
  position:relative;
  margin-left:5px;
  top:-1px
}
#button{
  position:relative;
  top:110px;
  right:10px;
  width:110px;
  padding:10px;
  background:rgb(255,255,255);
  color:#999;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:18px;
  border-radius:3px;
  max-height:80%;
  overflow:auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.legend {
    line-height: 18px;
    color: #999;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.slider-handle.custom {
	background: transparent none;
	/* You can customize the handle and set a background image */
}

/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\1F6B2'; /*unicode star character*/
	color: #000000;
}
.ui-tooltip, .arrow:after {

  background: black;
  border: 2px solid white;
  opacity: 0.9;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
